<section class="about-header">
    <section class="logo js-menu-trigger">
    <img src="<%= image_path('urvirl_logo.png') %>" alt="Menu Icon">
    </section>
    <section class="profile-top">
        <img src="<%= image_path('urvrl_profile.png') %>" alt="Menu Icon">
    </section>
    <section class="life-top">
        <img src="<%= image_path('urvirl_life.png') %>" alt="Menu Icon">
    </section>
</section>

<aside class="profile-box">
    <div class="profile-box-header">
        <h1><%= @user.name %></h1>
    </div>
    <div class="profile-pic"><img src="<%= image_path('hippy.jpg') %>" alt="Hipyyyys"></div>
    <a href="#"><div class="change-profile-pic"><h1>Change Profile Picture</h1></div></a>
</aside>

<section class="profile-data-box">
    <section class="profile-data-box-header"><h1>yoUR Life</h1></section>
    <section class="about">
        <div class="about-header"><h2>About Me</h2></div>
        
        <table class="profile-data">
            <tr>
                <td>Screen Name:</td>
                <td>Patrick Schoeps</td>
            </tr>
            <tr>
                <td>Mobile Phone:</td>
                <td>222-222-2222</td>
            </tr>
            <tr>
                <td>Home Phone:</td>
                <td>333-333-3333</td>
            </tr>
            <tr>
                <td>Work Phone:</td>
                <td>444-444-4444</td>
            </tr>
            <tr>
                <td>Home Email:</td>
                <td>john@gmail.com</td>
            </tr>
            <tr>
                <td>Work Email:</td>
                <td>john@gmail.com</td>
            </tr>
            <tr>
                <td>Current City:</td>
                <td>Ann Arbor</td>
            </tr>
            <tr>
                <td>Work City:</td>
                <td>Shanghai</td>
            </tr>
            <tr>
                <td>Country:</td>
                <td>USA</td>
            </tr>
            <tr>
                <td>Birth Data:</td>
                <td>3/2/1994</td>
            </tr>
        </table>
        <button class="profile-update">Update</button>
    </section>
    <section class="school">
        <div class="school-header"><h2>School</h2></div>
        <table class="profile-data">
            <tr>
                <td>School:</td>
                <td>University of Michigan</td>
            </tr>
            <tr>
                <td>Degree:</td>
                <td>Bachelors, Neuroscience</td>
            </tr>
            <tr>
                <td>Graduation Date:</td>
                <td>May, 2016</td>
            </tr>
        </table>
        <table class="class-schedule">
            <tr id="class-schedule-header"><td colspan="2">Class Schedule</td></tr>
            <tr>
                <td><% groups.user.find(params[:id] %></td>
                <td>Prof Are</td>
            </tr>
        </table>
        <button class="profile-update">Update</button>
    </section>
    <section class="whoareyou">
        <div class="whoareyou-header"><h2>Who Are You</h2></div>
          <table class="profile-data">
            <tr>
                <td>City Born:</td>
                <td>Farmington Hills</td>
            </tr>
            <tr>
                <td>Relationship:</td>
                <td>Single</td>
            </tr>
            <tr>
                <td>High School:</td>
                <td>Farmington High</td>
            </tr>
            <tr>
                <td>Degree:</td>
                <td>Bachelors, Neuroscience</td>
            </tr>
            <tr>
                <td>Political Belief:</td>
                <td>Tea Party</td>
            </tr>
            <tr>
                <td>Empoloyer:</td>
                <td>urVirl</td>
            </tr>
            <tr>
                <td>Current Job:</td>
                <td>Developer</td>
            </tr>
            <tr>
                <td>Dream Job:</td>
                <td>President</td>
            </tr>
            <tr>
                <td>Dream Vacation:</td>
                <td>Spain</td>
            </tr>
            <tr>
                <td>Dream City:</td>
                <td>Istanbul</td>
            </tr>
        </table>
        <button class="profile-update">Update</button>
</section>
</section>

<section class="class-creation">
   
<div class="col-md-8">
 
      
   
  </div>
</section>
