<section class = "event-creation">
 <h1>Create Event</h1>
 <%= form_for(@event) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :start_at %>
      <%= f.date_select :start_at %>
      
      <%= f.label :end_at %>
      <%= f.date_select :end_at %>
      
      <%= f.label :content %>
      <%= f.text_field :content %>

     

      <%= f.submit "Create Event", class: "btn btn-primary" %>
      
 <% end %>
</section>
