<button type="button" class="js-menu-trigger sliding-menu-button">
  <img src="<%= image_path('menu-white.png') %>" alt="Menu Icon"> <!-- image path for original menu botton is 'menu-white.png -->
</button>

<nav class="js-menu sliding-menu-content">
  <ul class="float-left">
      <li><a href="javascript:void(0)"><%= link_to "Help",   help_path %></a></li>
      <li><a href="javascript:void(0)"><%= link_to "Home",   root_path %></a></li>
  </ul>
  <ul>
    <% if logged_in? %>
    <li><a href="javascript:void(0)"><%= link_to "Dashboard", dashboard_user_path(current_user) %></a></li>
    <li><a href="javascript:void(0)"><%= link_to "Profile", current_user %></a></li>
    <li><a href="javascript:void(0)"><%= link_to "Settings", edit_user_path(current_user) %></a></li>
    <li><a href="javascript:void(0)"><%= link_to "Log Out", logout_path, method: "delete" %></a></li>
    <% else %>
    <li><a href="javascript:void(0)"><%= link_to "Log In", login_path %></a></li>
    <li><a href="javascript:void(0)"><%= link_to "Sign Up", signup_path %></a></li>
    <% end %>
  </ul>
</nav>
<section class="header">
    <section class="logo js-menu-trigger">
    <img src="<%= image_path('urvirl_logo.png') %>" alt="Menu Icon">
    </section>
    <section class="profile-top">
        <img src="<%= image_path('urvrl_profile.png') %>" alt="Menu Icon">
    </section>
    <section class="life-top">
        <img src="<%= image_path('urvirl_life.png') %>" alt="Menu Icon">
    </section>
</section> 

<div class="js-menu-screen sliding-menu-fade-screen"></div>

